<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">

</head>
<body>
    
    <div class="container">
      <div class="card mt-5 mb-5">
        <div class="card-header">
          Kadr udalit etmek sahypasy
        </div>
        <div class="card-body">
          <h4> Siz hakykatdanam su kadry udalit etmek isleyarsinizmi?</h4>
          <p class="card-text">Ady: <%= kadr.username %></p>
          <form action="" method="post">
            <button type="submit" class="btn btn-success">Howa</button>
            <a href="/admin/kadr" class="btn btn-danger">Yok</a>
          </form>
        </div>
      </div>
    </div>
    
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>