<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Esasy</div>
            <a class="nav-link" href="/kadr">
                <div class="sb-nav-link-icon"><i class="fas fa-bars"></i></div>
                Baş sahypa
            </a>
            <div class="sb-sidenav-menu-heading">Interfeys</div>
            <a class="nav-link" href="/kadr/users">
                <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                Işgärler
            </a>
            <a class="nav-link" href="/kadr/contact">
                <div class="sb-nav-link-icon"><i class="fas fa-phone-alt"></i></div>
                Habarlaşmak
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">KadrAdmin:</div>
        Start Bootstrap
    </div>
</nav>